.tab-content {
    --horizontal-paddings: 24px;
    --vertical-paddings: 32px; 
    display: none;
    min-height: 400px;
    padding: var(--vertical-paddings) var(--horizontal-paddings); 
    max-height: 568px;
    background-color: white;
}

.active {
    display: block;
}